<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="FillingValveTransientTime" value = "1"/> <!-- doba otevirani napousteciho ventilu v sekundach, nezadavat 0!!! -->
    <add key="FillingValveIdleState" value="last"/> <!-- no, nc, last -->
    <add key="FillingValveMaxFlow" value = "25"/> <!-- litru/sekundu -->
    
    <add key="DrainingValveTransientTime" value = "1"/> <!-- doba otevirani vypousteciho ventilu v sekundach, nezadavat 0!!! -->
    <add key="DrainingValveIdleState" value="last"/> <!-- no, nc, last -->
    <add key="DrainingValveMaxFlow" value = "30"/> <!-- litru/sekundu -->
    <add key="DrainTubeSurface" value="0.00283"/> <!-- prurez (plocha) vypousteciho potrubi (m2) -->
    
    <add key="TankMaxTemperature" value="100"/>
    <add key="TankMaxHeating" value="100"/> <!-- % -->
    <add key="TankMaxHeatingPhysical" value="20000000"/> <!-- W -->

    <add key="TemperatureNoiseAmplitude" value="1"/> <!-- °C -->
    <add key="TemperatureLeastStep" value="0.1" /> <!-- °C -->
    <add key="LevelNoiseAmplitude" value="0.05"/> <!-- m -->
    <add key="LevelLeastStep" value="0.05"/> <!-- m -->

    <add key="SecondsUntilOvertemperatureDestroysTank" value="5"/>
    <add key="SecondsUntilMixingFailureDestroysBatch" value="10"/>
    
    <add key="PLCDigInOffset" value="320"/> <!-- vstupy PLC - tento program zapisuje -->
    <add key="PLCAnInOffset" value="340"/>
    <add key="PLCDigOutOffset" value="360"/> <!-- vystupy PLC - tento program je vycita -->
    <add key="PLCAnOutOffset" value="380"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
