<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="TankFlowAmount" value="0.02" />
    <add key="DrainTubeSurface" value="0.00425"/>
    <add key="TankMaxLevel" value="2" /> <!-- m -->
    <add key="TankAmbientTemperature" value="20" />
    <add key="TankMaxTemperature" value="100" />
    <add key="TankMaxHeating" value="100" /> <!-- % -->
    <add key="TankMaxHeatingPhysical" value="25000000"/> <!-- W -->
    <add key="TankCoolingCoeficient" value="0.002" />
    
    <add key="PLCDigInOffset" value="220" /> <!-- vstupy PLC - tento program zapisuje -->
    <add key="PLCAnInOffset" value="240" />
    <add key="PLCDigOutOffset" value="260" /> <!-- vystupy PLC - tento program je vycita -->
    <add key="PLCAnOutOffset" value="280" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>